/******** General ********/
body {
    overflow-x: hidden;
}

/***** Header and Navigation *****/
#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 5;
    background-color: #EE3233;
    box-shadow: 0px 1px 5px #000;
    text-align: center;
}

#navigation {
    list-style-type: none;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#navigation li {
    float: left;
    font-family: Bebas Neue;
    font-size: 32px;
    color: #FFFFFF;
    width: 19%;
}

#navigation li a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

/***** Footer Navigation *****/
#footer {
    position: fixed;
    top: 75%;
    left: 0;
    height: 25%;
    width: 100%;
    z-index: 5;
    text-align: center;
}

.home_navi {
    float: left;
    position: relative;
    top: 50%;
    height: 50%;
    width: 24.5%;
    background-color: #EE3233;
    box-shadow: 0px 0px 5px #000;
    text-align: center;
    font-family: Segoe UI;
    font-size: 16px;
    color: #fff;
    transition: top 1s, height 1s;
}

.home_navi:hover {
    top: 0;
    height: 100%;
}

.home_navi_border {
    float: left;
    position: relative;
    top: 50%;
    height: 50%;
    width: 0.66%;
    //background-color: #FFF;
}

.home_navi span {
    font-family: Bebas Neue;
    font-size: 32px;
    color: #fff;
}

/***** Body *****/
#contentOverlay {
    position: absolute;
    top: 100%;
    left: 0;
    height: 900%;
    width: 100%;
    background: -webkit-linear-gradient(to bottom, rgba(102,167,197,1) 0%, rgba(102,167,197,1) 25%, rgba(238,50,50,1) 75%, rgba(238,50,50,1) 100%);
    background: -moz-linear-gradient(to bottom, rgba(102,167,197,1) 0%, rgba(102,167,197,1) 25%, rgba(238,50,50,1) 75%, rgba(238,50,50,1) 100%);
    background: linear-gradient(to bottom, rgba(102,167,197,1) 0%, rgba(102,167,197,1) 25%, rgba(238,50,50,1) 75%, rgba(238,50,50,1) 100%);
    z-index: 2;
    opacity: 0.80;
    //visibility: hidden;
}

#backToTop {
    position: fixed;
    top: 90%;
    left: 90%;
    background: #FFFF00;
    z-index: 5;
    width: 95px;
    height: 25px;
}

#backToTop a {
    font-family: Bebas Neue;
    font-size: 24px;
    color: #000;
    text-decoration: none;   
}

.contentPages {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    //visibility: hidden;
}

.contentBG {
    position: absolute;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #FFF;
}

.contentBorders {
    background-image: url('images/timeline0.png');
    background-size: auto 100%;
    background-position: 49.3% 100%;
    background-repeat: no-repeat;
}

#mainBG {
    position: fixed;
    background: url("../images/precolon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/****** Content Shit *****/
.contentLeft {
    position: relative;
    left: 5%;
    top: 20%;
    height: 70%;
    width: 40%;
    background: #FFF;
    box-shadow: 0px 3px 10px #000;
    color: #000; 
    opacity: 0;
}

.contentRight {
    float: right;
    position: absolute;
    right: 2.5%;
    top: 10%;
    width: 40%;
    font-family: Bebas Neue;
    font-size: 90px;
    color: #FFFF00;
    text-align: center;
}

#mainContent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #66A7C5;
}

#mainContent_title {
    font-family: Bebas Neue;
    font-size: 150px;
    color: #FFFF00;
    text-align: center;
    margin-top: 50px;
}

#mainContent_desc {
    font-family: Segoe UI;
    font-size: 18px;
    color: #000;
    text-align: justify;
    width: 60%;
    margin-left: 20%;
    margin-top: -11%;
}

#mainContent a {
    color: #FFFF00;
}

#mainContent_start {
    font-family: Bebas Neue;
    font-size: 84px;
    color: #FFFF00;
    text-align: center;
}

#preColonContent {
    top: 100%;
    left: 0;
    background-image: url('images/timeline1.png');
    background-size: 12% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#spanishContent {
    top: 300%;
    left: 0;
    background-image: url('images/timeline2.png');
    background-size: 12% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#americanContent {
    top: 500%;
    left: 0;
    background-image: url('images/timeline3.png');
    background-size: 12% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#japaneseContent {
    top: 700%;
    left: 0;
    background-image: url('images/timeline4.png');
    background-size: 12% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#postColonContent {
    top: 900%;
    left: 0;
    background-image: url('images/timeline5.png');
    background-size: 12% 100%;
    background-position: center;
    background-repeat: no-repeat;
}