/******** General ********/
body {
    overflow-y: hidden;
}

/***** Header and Navigation *****/
#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 10;
    background-color: #EE3233;
    box-shadow: 0px 1px 5px #000;
    text-align: center;
}

#navigation {
    list-style-type: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#navigation li {
    float: left;
    font-family: Bebas Neue;
    font-size: 32px;
    color: #FFFFFF;
    width: 19%;
}

#navigation li a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

/***** Body *****/

#contentOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 500%;
    width: 100%;
    background: -webkit-linear-gradient(#336699, #990033);
    background: -moz-linear-gradient(#336699, #990033);
    background: linear-gradient(#66A7C5, #EE3233);
    z-index: 3;
    //opacity: 0.75;
}

#fixedTimeline {
    position: fixed;
    top: 10%;
    left: 0;
    height: 90%;
    width: 100%;
    background-image: url('images/timeline.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: auto 100%;
    z-index: 12;
}

#timelineNavi {
    position: fixed;
    top: 15%;
    left: 27%;
    list-style-type: none;
    height: 80%;
    width: 100%;
}

#timelineNavi li {
    height: 22.5%;
}

#timelineNavi li a {
    font-family: Bebas Neue;
    font-size: 32px;
    color: #FFFF00;
    //text-decoration: none;
}

.contentPages {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 7;
}

#mainContent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 7;
}

#mainContent_title {
    font-family: Bebas Neue;
    font-size: 160px;
    color: #FFFF00;
    text-align: center;
}

#preColonContent {
    top: 0;
    left: 0;
    //background-image: url('images/pic1.jpg');
    background-size: 100% 100%;
}

#spanishContent {
    top: 100%;
    left: 0;
    //background-image: url('images/pic1.jpg');
    background-size: 100% 100%;
}

#americanContent {
    top: 200%;
    left: 0;
    //background-image: url('images/pic2.jpg');
    background-size: 100% 100%;
}

#japaneseContent {
    top: 300%;
    left: 0;
    //background-image: url('images/pic1.jpg');
    background-size: 100% 100%;
}

#postColonContent {
    top: 400%;
    left: 0;
    //background-image: url('images/pic2.jpg');
    background-size: 100% 100%;
}